[submodule "samples/vst/vinylcontroller"]
	path = samples/vst/vinylcontroller
	url = git@github.com:bassbuster/vst3_vinylcontroller.git
[submodule "samples/vst/megalay"]
	path = samples/vst/megalay
	url = git@github.com:bassbuster/vst3_delay.git
