[submodule "samples/vst/vinylcontroller"]
	path = samples/vst/vinylcontroller
	url = ../vst3_vinylcontroller.git
[submodule "samples/vst/megalay"]
	path = samples/vst/megalay
	url = ../vst3_delay.git
